<nb-card #background id="background">
    <nb-card-header>
        {{evolution.name}}
        <nb-toggle 
            status="info" 
            style="transform: translateY(10px) scale(0.8); margin: -15px 0 -5px 10px;"
            [checked]="evolution.isRunning" 
            (change)="onStateChange($event)">
        </nb-toggle>
        <span *ngIf="statistics != null && statistics.length > 0" style="margin-left: 10px;">
            <span style="font-weight: normal; font-size: 15px;">Total time: <b>{{statistics[0].totalComputingTimeInSeconds | time}}</b></span>
            <span style="font-weight: normal; font-size: 15px; margin-left: 10px;">Iteration: <b>{{statistics[0].currentIteration}}</b></span>
            <span style="font-weight: normal; font-size: 15px; margin-left: 10px;">Iter./s: <b>{{statistics[0].currentIteration / statistics[0].totalComputingTimeInSeconds | number: '1.0-0'}}</b></span>
            <span style="font-weight: normal; font-size: 15px; margin-left: 10px;">Iter./hour: <b>{{statistics[0].currentIteration / statistics[0].totalComputingTimeInSeconds * 3600 | number: '1.0-0'}}</b></span>
        </span>
        <div style="float: right; margin: -5px 0 -15px 0;">
            <button 
                nbButton 
                status="danger" 
                outline 
                style="background-color: transparent; border: none;" 
                [nbPopover]="popover"
                nbPopoverPlacement="right">
                delete
            </button>
        </div>
    </nb-card-header>
    <nb-card-body style="padding: 0; overflow: hidden;">
        <div class="row">
            <nb-tabset style="width: 100%;" fullWidth>
                <nb-tab tabTitle="Cost">
                    <div echarts [options]="costChartOptions" style="height: 450px; margin: 20px 0 0 0;"></div>
                </nb-tab>
                <nb-tab tabTitle="Output">
                    <!-- <app-chart-with-scroll [options]="outputChartOptions"></app-chart-with-scroll> -->
                </nb-tab>
                <nb-tab tabTitle="Network">
                </nb-tab>
                <nb-tab tabTitle="Testing">
                </nb-tab>
                <nb-tab tabTitle="Parameters">
                    <div style="height: 450px; margin: 20px;">
                        <div class="row">
                            <div class="col-6">
                                <span>
                                    <b>Details</b>
                                </span>
                                <div style="height: 10px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Name: <b>{{evolution.name}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Id: <b>{{evolution.id}}</b>
                                </span>
                                <div style="height: 20px"></div>
                                <span>
                                    <b>Input</b>
                                </span>
                                <div style="height: 10px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Package name: <b>{{evolution.inputConfig.packageFileName}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;" [nbTooltip]="words()" nbTooltipPlacement="right">
                                    Words included in training: <b>{{evolution.inputConfig.wordsIncluded.length}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;" [nbTooltip]="accents()" nbTooltipPlacement="right">
                                    Accents included in training: <b>{{evolution.inputConfig.accentsIncluded.length}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;" [nbTooltip]="modifications()" nbTooltipPlacement="right">
                                    Modifications included in training: <b>{{evolution.inputConfig.modificationsIncluded.length}}</b>
                                </span>
                                <div style="height: 20px"></div>
                                <span>
                                    <b>Network</b>
                                </span>
                                <div style="height: 10px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Input resolution: <b>{{evolution.networkConfig.inputResolution.width}}x{{evolution.networkConfig.inputResolution.height}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Input count: <b>{{evolution.networkConfig.inputResolution.width*evolution.networkConfig.inputResolution.height}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Number of hidden layers: <b>{{evolution.networkConfig.hiddenLayersNeuronCount.length}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Number of neuron in hidden layers: <b>{{evolution.networkConfig.hiddenLayersNeuronCount}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Output count: <b>{{evolution.networkConfig.outputCount}}</b>
                                </span>
                                <div style="height: 20px"></div>
                            </div>
                            <div class="col-6">
                                <span>
                                    <b>Training</b>
                                </span>
                                <div style="height: 10px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Use GPU in calculation: <b>{{evolution.trainingConfig.useGpu}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Words set size: <b>{{evolution.trainingConfig.wordSetSize}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Calculation thread count: <b>{{evolution.trainingConfig.calculationThreadCount}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Saving thread count: <b>{{evolution.trainingConfig.populationSize}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Population size: <b>{{evolution.trainingConfig.savingThreadCount}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Iteration limit: <b>{{evolution.trainingConfig.iterationLimit}}</b>
                                </span>
                                <div style="height: 20px"></div>
                                <span>
                                    <b>Gradient</b>
                                </span>
                                <div style="height: 10px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Gradient factor: <b>{{evolution.gradientConfig.gradientFactor}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Weight gradient factor: <b>{{evolution.gradientConfig.weightGradientFactor}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Bias gradient factor: <b>{{evolution.gradientConfig.biasGradientFactor}}</b>
                                </span>
                                <div style="height: 5px"></div>
                                <span style="margin: 0 0 0 10px;">
                                    Input gradient factor: <b>{{evolution.gradientConfig.inputGradientFactor}}</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </nb-tab>>
            </nb-tabset>
        </div>
    </nb-card-body>
</nb-card>
<ng-template #popover>
    <nb-card style="margin: 0;">
        <nb-card-header>Are you sure?</nb-card-header>
        <nb-card-body>
            <div style="margin-bottom: 10px;">The evolution will be gone</div>
            <button nbButton status="danger" (click)="delete()" style="width: 200px;">delete</button>
        </nb-card-body>
    </nb-card>
</ng-template>