<nb-layout>
    <nb-layout-column>
        <div class="row">
            <div class="col-xxl-7">
                <app-evolution-tile *ngFor="let evolution of evolutions" 
                    [evolution]="evolution" 
                    (deleted)="delete(evolution)" 
                    (isProcessing)="onIsProcessingChange($event)">
                </app-evolution-tile>
            </div>
            <div class="col-xxl-5">
                <app-add-new-evolution 
                    [words]="words" 
                    [accents]="accents" 
                    [modifications]="modifications" 
                    (newEvolution)="onNewEvolution($event)">
                </app-add-new-evolution>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>
