/spoken-words-recognition-spa/package-lock.json
/spoken-words-recognition-api/NeuralNetwork.API/temp/evolutions/c889981d-d1b6-ec38-bd10-0f64aa351a31
/spoken-words-recognition-api/NeuralNetwork.API/temp
