<nb-card>
    <nb-card-header>Add New Evolution</nb-card-header>
    <nb-card-body>
        <div style="margin: 0 0 15px 0;">
            <b>Details</b>
        </div>
        <div class="row">
            <div style="margin: 0 20px 0 30px;">Evolution name: </div>
            <button size="tiny" nbButton status="info" outline (click)="evolution.name = randomNamesService.getRandomName(); blurActiveElement();">{{evolution.name}}
                <nb-icon style="margin-left: 5px;" icon="repeat-outline"></nb-icon> 
            </button>
        </div>
        <div style="margin: 20px 0 15px 0;">
            <b>Input</b>
        </div>
        <div class="row">
            <div class="col-12" style="margin: 0 0 -15px 15px">
                <app-package size="small"></app-package>
            </div>
            <div class="col-6">
                <div style="margin: 10px 20px 0 15px;">Words included in training: </div>
            </div>
            <div class="col-6">
                <div style="margin-top: 10px;">
                    <button 
                        [disabled]="!dataService.isLoaded()"
                        size="tiny" 
                        nbButton 
                        status="info" 
                        outline
                        [nbPopover]="wordsPopover"
                        nbPopoverPlacement="right">
                        Selected words: {{selectedWordsCount()}}
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div style="margin: 10px 20px 0 15px;">Accents included in training: </div>
            </div>
            <div class="col-6">
                <div style="margin-top: 10px;">
                    <button 
                        [disabled]="!dataService.isLoaded()"
                        size="tiny" 
                        nbButton 
                        status="info" 
                        outline
                        [nbPopover]="accentsPopover"
                        nbPopoverPlacement="right">
                        Selected accents: {{selectedAccentsCount()}}
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div style="margin: 10px 20px 0 15px;">Modifications included in training: </div>
            </div>
            <div class="col-6">
                <div style="margin-top: 10px;">
                    <button 
                        [disabled]="!dataService.isLoaded()"
                        size="tiny" 
                        nbButton 
                        status="info" 
                        outline
                        [nbPopover]="modificationsPopover"
                        nbPopoverPlacement="right">
                        Selected modifications: {{selectedModificationsCount()}}
                    </button>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <b>Network</b>
        </div>
        <div class="row">
            <div class="col-6">
                <div style="margin: 12px 20px 0 15px;">Input resolution: </div>
            </div>
            <div class="col-6">
                <div style="margin-top: 10px;">
                    <input 
                        class="size-large shape-rectangle" 
                        style="margin-right: 5px; width: 70px;"  
                        type="number" 
                        [(ngModel)]="evolution.networkConfig.inputResolution.width"/>
                    <input 
                        class="size-large shape-rectangle" 
                        style="margin-right: 5px; width: 70px;" 
                        type="number" 
                        [(ngModel)]="evolution.networkConfig.inputResolution.height"/>
                </div>
            </div>
            <div class="col-6">
                <div style="margin: 12px 20px 0 15px;">Number of hidden layers: </div>
            </div>
            <div class="col-6">
                <div style="margin-top: 10px;">
                    <input 
                        class="size-large shape-rectangle" 
                        style="width: 70px;" 
                        type="number" 
                        [value]="evolution.networkConfig.hiddenLayersNeuronCount.length" 
                        (change)="onNumberOfHiddenLayersChange($event)"/>
                </div>
            </div>
            <div class="col-6">
                <div style="margin: 12px 20px 0 15px;">Number of neuron in hidden layers: </div>
            </div>
            <div class="col-6">
                <div style="margin-top: 10px;">
                    <input *ngFor="let numberOfNeurons of evolution.networkConfig.hiddenLayersNeuronCount; let i = index; trackBy: trackArray;"
                        class="size-large shape-rectangle" 
                        style="margin-right: 5px; width: 70px;" 
                        type="number" 
                        name="name" 
                        [ngModel]="evolution.networkConfig.hiddenLayersNeuronCount[i]"
                        (change)="onNumberOfNeuronsInHiddenLayersChange(i,$event)"/>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px">
            <b>Training</b>
        </div>
        <div class="row">
            <div class="col-6">
                <div style="margin: 12px 20px 0 15px;">Word set size: </div>
            </div>
            <div class="col-6">
                <div style="margin-top: 10px;">
                    <input 
                        class="size-large shape-rectangle" 
                        style="width: 70px;" 
                        type="number" 
                        [(ngModel)]="evolution.trainingConfig.wordSetSize"/>
                </div>
            </div>
            <div class="col-6">
                <div style="margin: 10px 20px 0 15px;">Gradient factor: </div>
            </div>
            <div class="col-6">
                <div style="margin-top: 10px;">
                    <input 
                        class="size-large shape-rectangle" 
                        style="width: 70px;" 
                        [(ngModel)]="evolution.trainingConfig.gradientFactor"
                        type="number"/>
                </div>
            </div>
            <div class="col-6">
                <div style="margin: 12px 20px 0 15px;">Max calculation time in minutes:</div>
            </div>
            <div class="col-6">
                <div style="margin-top: 10px;">
                    <input 
                        class="size-large shape-rectangle" 
                        style="width: 70px;" 
                        [(ngModel)]="evolution.trainingConfig.maxCalculationTimeInMinutes"
                        type="number"/>
                </div>
            </div>
        </div>
        <button style="margin-top: 30px;" [disabled]="!dataService.isLoaded()" nbButton status="info" (click)="addNewEvolution(); blurActiveElement();">Add Evolution</button>
    </nb-card-body>
</nb-card>
<ng-template #wordsPopover>
    <nb-card style="margin: 0;">
        <nb-card-body>
            <div *ngFor="let word of wordsIncluded" >
                <nb-checkbox [checked]="word.selected" (change)="word.selected = $event.target.checked">{{word.word}}</nb-checkbox>
            </div>
        </nb-card-body>
    </nb-card>
</ng-template>
<ng-template #accentsPopover>
    <nb-card style="margin: 0;">
        <nb-card-body>
            <div *ngFor="let accent of accentsIncluded" >
                <nb-checkbox [checked]="accent.selected" (change)="accent.selected = $event.target.checked">{{accent.accent}}</nb-checkbox>
            </div>
        </nb-card-body>
    </nb-card>
</ng-template>
<ng-template #modificationsPopover>
    <nb-card style="margin: 0;">
        <nb-card-body>
            <div *ngFor="let modification of modificationsIncluded" >
                <nb-checkbox [checked]="modification.selected" (change)="modification.selected = $event.target.checked">{{modification.modification}}</nb-checkbox>
            </div>
        </nb-card-body>
    </nb-card>
</ng-template>