<div style="text-align: left;">
  <ul>
    <li>The application's purpose is to collect processed recordings of 24 spoken English words (mostly numbers)</li>
    <li>The data from you and other users will be used to train a neural network to recognize the spoken words</li>
    <li>The neural network will be used to make a simple game that will be available to play for free</li>
    <li>The project is created only for educational purposes and all the sources will be available to download</li>
    <li>No recording will be captured or uploaded without your explicite action</li>
  </ul>
</div>