<nb-layout>
    <nb-layout-column style="background-color: white !important;">
        <div id="background" class="main-container">
            <div class="center-container">
                <div class="title">Recordings left to validate: {{data.dataLeftToValidate}}</div>
                <div [style.display]="data.dataLeftToValidate == 0 ? 'none' : 'inherit'" class="layers-container">
                    <canvas id="canvas" class="first-layer"></canvas>
                    <div class="second-layer" id="layer">
                        <div *ngIf="state.rawRecording != null">
                            <button *ngFor="let wordOccurence of state.rawRecording.words" 
                                [disabled]="wordOccurence.word == state.wordOccurence.word" 
                                [id]="wordOccurence.word" 
                                class="spacing" nbButton hero 
                                [status]="wordOccurence.validated==null?'info':(wordOccurence.validated?'success':'danger')" 
                                (click)="setCurrentWord(wordOccurence.word.value)">{{wordOccurence.word.value}}</button>
                        </div>
                    </div>
                </div>
                <div [style.display]="data.dataLeftToValidate == 0 ? 'none' : 'inherit'" style="width: 100%; text-align: center; padding-top: 20px;">
                    <div *ngIf="state.wordOccurence != null">
                        <button style="margin: 2.5px; width: 110px;" nbButton hero status="info" (click)="move(-1)" [disabled]="state.wordOccurence.word == state.firstWord()" ><nb-icon icon="arrow-back-outline"></nb-icon>prev</button>
                        <button style="margin: 2.5px; width: 150px;" nbButton hero status="danger" (click)="decline()"><nb-icon icon="close-outline"></nb-icon>decline</button>
                        <button style="margin: 2.5px; width: 110px;" nbButton hero status="info" (click)="state.play()"><nb-icon icon="arrow-right-outline"></nb-icon>play</button>
                        <button style="margin: 2.5px; width: 150px;" nbButton hero status="success" (click)="accept()"><nb-icon icon="checkmark-outline"></nb-icon>accept</button>
                        <button style="margin: 2.5px; width: 110px;" nbButton hero status="info" (click)="move(1)" [disabled]="state.wordOccurence.word == state.lastWord()"><nb-icon icon="arrow-forward-outline"></nb-icon>next</button>
                        <button style="margin-top: 20px; width: 300px; border: none; background-color: white;" nbButton outline status="danger" [nbPopover]="popover" (click)="removeFocus()"><nb-icon icon="close-outline"></nb-icon>Delete recording</button>
                        <ng-template #popover>
                            <div style="padding: 20px;">
                                <div style="margin-bottom: 10px; font-weight: bold; text-align: center;">Are you sure?</div>
                                <button nbButton status="danger" style="width: 100px; margin-top: 5px;" (click)="delete()">Yes</button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>