<nb-card *ngIf="recording.id != null" style="padding: 10px;">
  <span><b>{{recording.word}}</b>, {{recording.accent}}</span>
  <span>
    <span class="button" (click)="play()">
      <b >PLAY</b>
      <nb-icon style="margin-left: -2px; transform: translateY(2px);" icon="arrow-right"></nb-icon>
    </span>
    <span class="button" (click)="display()">
      <b>DISPLAY</b>
      <nb-icon style="margin-left: 2px; transform: translateY(2px);" icon="activity-outline"></nb-icon>
    </span>
  </span>
</nb-card>
<h4 style="margin-bottom: 20px;" *ngIf="recording.id == null">
  {{recording.word}}
</h4>